h1 {
	width: 55%;
	height: 75px;
	display: inline;
	color: red;
}

h3 {
	display: inline;
	color: gray;
	
}

.box-1 {
	float: left;
	width: 100%;
	height: 50px;
	background-color: black;
	overflow: hidden;

}


.topNav1 {
	background-color: black;
	width: 16.333%;
	font-size: 33px;
	color: white;
	display: inline;
	margin: center;
	text-decoration: none;
	margin: 10px 0px 50px 50px;

}

.topNav2 {
	background-color: black;
	width: 16.333%;
	height: 75px;
	font-size: 33px;
	color: white;
	display: inline;
	margin: 10px 0px 50px 50px;
	text-decoration: none;
	}

.topNav3 {
	background-color: black;
	width: 16.333%;
	height: 75px;
	font-size: 33px;
	color: white;
	display: inline;
	margin: 10px 0px 50px 50px;
	text-decoration: none;
	}

	.topNav4 {
	background-color: black;
	width: 16.333%;
	height: 75px;
	font-size: 33px;
	color: white;
	display: inline;
	margin: 10px 0px 50px 50px;
	text-decoration: none;
	}

	.topNav5 {
	background-color: black;
	width: 16.333%;
	height: 75px;
	font-size: 33px;
	color: white;
	display: inline;
	margin: 10px 0px 50px 50px;
	text-decoration: none;
	}

	.topNav6 {
	background-color: black;
	width: 16.333%;
	height: 75px;
	font-size: 33px;
	color: white;
	display: inline;
	margin: 10px 0px 50px 50px;
	text-decoration: none;
	}

.box-2 {
	float: right;
	width: 33.333%;
	height: 250px;
	outline: 1px solid olive;
}

.box-3 {
	float: left;
	width: 66.333%;
	height: 400px;
	outline: 1px solid orange;
}

.box-4 {
	float: right;
	width: 33.333%;
	height: 225px;
	outline: 1px solid blue;

}
.box-5 {
	float: left;
	width: 66.333%;
	height: 400px;
	outline: 1px solid orange;
}

.box-6 {
	float: right;
	width: 33.333%;
	height: 250px;
	outline: 1px solid olive;
}

.box-7 {
	float: left;
	width: 55%;
	height: 75px;
	outline:1px solid purple;
}


footer {
	width: 60%;

}