.container {
	width: 600px;
	height: 2000px;
	margin-left: auto;
	margin-right: auto;
	border: #000000 1px solid;
	position: relative;
	
}


.box {
	border: #000000 1px solid;
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color:green;
	z-index:2;
}

.box2 {
	border: #000000 1px solid;
	width: 200px;
	height: 200px;
	position: fixed;
	background-color:red;
	bottom: 20;
	right: 20;
	z-index:1;
}
